body {
    background-color: #d3d3d3 !important;
}

.outer-box {
    margin: 50px 0;
    padding: 20px;
    text-align: center;
    
    background-color: #f3f3f3;
    box-shadow: 0px 0px 15px #aaaaaa;
}

.header-box {
}

.body-box {
    text-align: center;
    padding: 5px;
    margin: 15px;
}

.email-subscription {
    width: 80%;
}

@media screen and (max-width: 767px) {
    .header-box {
        display: flex;
        flex-flow: column-reverse;
    }

    .email-subscription {
        width: 100%;
    }
}